  /* Common styles */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /* Styles for main title */

 .title {
   text-align: center;
   font-weight: 900;
   font-size: 3rem;
   text-decoration: double underline;
 }

 
